CREATE DATABASE IF NOT EXISTS `my_db` DEFAULT CHARACTER SET = 'utf8mb4' COLLATE 'utf8mb4_general_ci';;
CREATE USER IF NOT EXISTS 'my_user'@'%' IDENTIFIED BY 'my_password';
GRANT ALL ON `my_db`.* TO 'my_user'@'%' IDENTIFIED BY 'my_password';
FLUSH PRIVILEGES;

