<?php
$CONFIG = array (
  // https://docs.nextcloud.com/server/latest/admin_manual/installation/server_tuning.html#previews
  //  OC\Preview\Image = BMP + GIF + JPEG + PNG
  'enabledPreviewProviders' => [
      'OC\Preview\Image',
      'OC\Preview\XBitmap',
//      'OC\\Preview\\HEIC',
//      'OC\\Preview\\TIFF',
//      'OC\\Preview\\Movie',
//      'OC\\Preview\\MKV',
//      'OC\\Preview\\MP4',
//      'OC\\Preview\\AVI',
      'OC\Preview\TXT',
      'OC\Preview\MarkDown',
      'OC\Preview\OpenDocument',
      'OC\Preview\MP3',
      'OC\Preview\Krita',
      'OC\Preview\Imaginary',
  ],
  'preview_imaginary_url' => 'http://imaginary:9000',
);

