<?php
$CONFIG = array (
  // Distributed cache for multi-server ownCloud installations
  // If unset, defaults to the value of memcache.local
  'memcache.distributed' => '\OC\Memcache\Memcached',
  'memcached_servers' => [
    [ 'memcached', 11211 ],
  ],
  'memcached_options' => array(
        // Set timeouts to 50ms
        //\Memcached::OPT_CONNECT_TIMEOUT => 50,
        //\Memcached::OPT_RETRY_TIMEOUT =>   50,
        //\Memcached::OPT_SEND_TIMEOUT =>    50,
        //\Memcached::OPT_RECV_TIMEOUT =>    50,
        //\Memcached::OPT_POLL_TIMEOUT =>    50,

        // Enable compression
        \Memcached::OPT_COMPRESSION =>          true,

        // Turn on consistent hashing
        \Memcached::OPT_LIBKETAMA_COMPATIBLE => true,

        // Enable Binary Protocol
        \Memcached::OPT_BINARY_PROTOCOL =>      true,

        // Binary serializer vill be enabled if the igbinary PECL module is available
        //\Memcached::OPT_SERIALIZER => \Memcached::SERIALIZER_IGBINARY,
  ),
);

