<?php
$CONFIG = array (
  // https://docs.nextcloud.com/server/stable/admin_manual/configuration_server/language_configuration.html
  'default_language' => 'fr',
  'default_locale' => 'fr',
  'default_phone_region' => 'FR',
);
